<div class="container">
  <h1>Listings</h1>
  <form id="add-item" class="form-horizontal" ng-submit="updateSearch()">
    <fieldset class="form-group">
      <label for="zipcode">Zip code:</label>
      <input type="number" ng-model="zipcode" maxlength="5" minlength="5" name="zipcode" style="width: 60px; text-align: center;">
      <label for="miles">Distance:</label>
      <select name="miles" ng-model="miles">
        <option value="5">5 Miles</option>
        <option value="10">10 Miles</option>
        <option value="15">15 Miles</option>
        <option value="20">20 Miles</option>
        <option value="25">25 Miles</option>
        <option value="30">30 Miles</option>
        <option value="50">50 Miles</option>
      </select>
      <div>
        <div class="make-center">
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="garage-sale" checked>
            <label for="garage-sale">Garage Sale</label>
          </div>
          &nbsp;
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="yard-sale" checked>
            <label for="yard-sale">Yard Sale</label>
          </div>
          &nbsp;
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="community-sale" checked>
            <label for="community-sale">Community Sale</label>
          </div>
        </div>
        <div class="make-center">
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="community-garage-sale" checked>
            <label for="community-garage-sale">Community Garage Sale</label>
          </div>
          &nbsp;
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="moving-sale" checked>
            <label for="moving-sale">Moving Sale</label>
          </div>
          &nbsp;
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="barn-sale" checked>
            <label for="barn-sale">Barn Sale</label>
          </div>
        </div>
        <div class="make-center">
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="tag-sale">
            <label for="tag-sale">Tag Sale</label>
          </div>
          &nbsp;
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="estate-sale">
            <label for="estate-sale">Estate Sale</label>
          </div>
          &nbsp;
          <div>
            <input type="checkbox" name="keywords" ng-click="toggleKeywordSearch()" id="rummage-sale">
            <label for="rummage-sale">Rummage Sale</label>
          </div>
        </div>
      </div>
      <button type="submit" id="submit">Update Search</button>
    </fieldset>
    <button type="button" id="getCurrentUserLocation" ng-click="getCurrentUserLocation()">
      Do this Locate</button>
  </form>
  <div>
    <hr>
    <div ng-repeat="listing in listings">
      <a target="_blank" href="{{listing.link}}">{{listing.title[0]}}</a>&nbsp;<span class="badge badge-pill badge-primary purple" ng-repeat="date in listing.saleDates track by $index" ng-bind="date"></span>
      <p>{{listing.description}}</p>
      <hr>
    </div>
  </div>
</div>