.completed-FOUND {
  text-decoration: line-through;
  opacity: .3;
}

i.icon-trash {
  cursor: pointer;
}

.item {
  font-size: 30px;
  color: #990000;
}

.details {
  font-size: 20px;
  position: relative;
  bottom: -20px;
}

.item-info {
  background-color: #e2e6e9;
}

.hidden {
  display: none;
}

.item-row {
  padding-bottom: 5px;
}

.details-button {
  width: 32%;
  height: 32%;
}

.add-item {
  width: 100%;
  height: 100%;
}

.Joel {
  width: 100%;
  white-space: nowrap;
}

.title {
  font-family: 'Pacifico', cursive;
  color: purple !important;
}

.labels {
  color: blue;
  font-weight: 600;
}

.image-pad {
  padding-bottom: 8px;
}

hr {
  color: red;
}
