<div class="container">
<!--   <center>
    <button class="btn btn-primary add-item" ng-click="addTodo()"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
  </center> -->
  <div ng-repeat="user in users">
    <div class="image-pad">
      <img class="img-circle" alt="Profile Pitctue" width='15%' src="http://graph.facebook.com/{{user.itemRequesterID}}/picture?type=normal">
      <h3 style="display:inline;">{{user.itemRequesterName}}</h3>
    </div>
    <div ng-repeat="todo in todos" ng-if="todo.itemRequesterID == user.itemRequesterID" class="item-row" ng-click="toggle(todo.itemId)">
      <i id="detailsToggle-{{todo.itemId}}" class="glyphicon glyphicon-triangle-bottom details"></i>
      <span class="item completed-{{todo.itemStatus}}">{{todo.itemTitle}}</span>
      <div id="details-{{todo.itemId}}" style="display:none;">
        <h4>Details</h4>
        <!-- <div><b class="labels">Requester:</b></div>
<div><img alt="Profile Pitctue" width='10%' src="{{todo.itemRequesterImageURL}}"><b style="font-size:18px;">{{todo.itemRequesterName}}</b></div>
 -->
        <div><b class="labels">Price:</b> {{todo.itemPriceRange}}</div>
        <div><b class="labels">Description:</b> </div>
        <div style="width:250px; word-wrap:break-word; white-space: pre-line;"> {{todo.itemDescription}}</div>
        <div ng-if="todo.itemStatus != 'FOUND'">
          <button class="btn btn-success details-button" ng-click="markAsFound(todo.itemId, $index)"><i class="glyphicon glyphicon-thumbs-up"></i> Found</button>
          <button class="btn btn-info details-button" ng-click="edit(todo)"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
          <button class="btn btn-danger details-button" ng-click="removeTask(todo.itemId, $index)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
        </div>
      </div>
    </div>
  </div>
  <h3>Total Items: {{ getTotalTodos() }}</h3>
</div>
