<div class="container">
  <div ng-repeat="find in finds" class="item-row" ng-click="toggle(find.itemId)">
    <i id="detailsToggle-{{find.itemId}}" class="glyphicon glyphicon-triangle-bottom details"></i>
    <span class="item">{{find.itemTitle}}</span>
    <div id="details-{{find.itemId}}" style="display:none;">
      <h4>Details</h4>
      <div><b class="labels">Requester:</b></div>
      <div><img class="img-circle" alt="Profile Picture" width='10%' src="http://graph.facebook.com/{{find.itemRequesterID}}/picture?type=normal"><b style="font-size:18px;">{{find.itemRequesterName}}</b></div>
      <div><b class="labels">Found by:</b></div>
      <div><img class="img-circle" alt="Profile Picture" width='10%' src="http://graph.facebook.com/{{find.itemFinderID}}/picture?type=normal"><b style="font-size:18px;">{{find.itemFindersName}}</b></div>
      <div><b class="labels">Price:</b> {{find.itemPriceRange}}</div>
      <div><b class="labels">Description:</b> </div>
      <div>{{find.itemDescription}}</div>
      <div>
        <button class="btn btn-danger add-item" ng-click="addBackToNotFound(find.itemId, $index)">Mark As Not Found</button>
      </div>
    </div>
  </div>
  <h3>Total Finds: {{ getTotalFinds() }}</h3>
  <button class="btn btn-primary add-item" ng-click="cancel()">Back</button>
</div>