<div class="container">
  <div ng-repeat="todo in todos" class="item-row" ng-click="toggle(todo.itemId)">
    <i id="detailsToggle-{{todo.itemId}}" class="glyphicon glyphicon-triangle-bottom details"></i>
    <span class="item">{{todo.itemTitle}}</span>
    <div id="details-{{todo.itemId}}" style="display:none;">
      <h4>Details</h4>
      <div><b class="labels">Requester:</b></div>
      <div><b class="labels">Found by:</b></div>
      <div><b class="labels">Price:</b> {{todo.itemPriceRange}}</div>
      <div><b class="labels">Description:</b> </div>
      <div>{{todo.itemDescription}}</div>
      <div>
        <button class="btn btn-danger add-item" ng-click="addBackToNotFound(todo.itemId, $index)">Mark As Not Found</button>
      </div>
    </div>
  </div>
  <h3>Total todos: {{ getTotalTodos() }}</h3>
  <button class="btn btn-primary add-item" ng-click="cancel()">Back</button>
</div>
