<div class="container">
  <h3>{{header}}</h3>
  <center>
    <p>{{instructions}}</p>
  </center>
  <form id="add-item" class="form-horizontal" ng-submit="submitForm()">
    <fieldset class="form-group hidden">
      <label for="itemId">Item Id:</label>
      <input type="text" class="form-control" ng-model="item.itemId" id="itemId">
    </fieldset>
    <fieldset class="form-group">
      <label for="itemRequester">Requester:</label>
      <div>
        <img alt="Profile Pitctue" width='13%' src="{{item.itemRequesterImageURL}}"> <b style="font-size:18px;">{{item.itemRequesterName}}</b>
        <input type="hidden" class="form-control" ng-model="item.itemRequesterName" id="itemRequesterName">
        <input type="hidden" class="form-control" ng-model="item.itemRequesterImageURL" id="itemRequesterImageURL">
        <input type="hidden" class="form-control" ng-model="item.itemRequesterID" id="itemRequesterID">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <label for="itemTitle">Item:</label>
      <input type="text" class="form-control" ng-model="item.itemTitle" id="itemTitle" required>
    </fieldset>
    <fieldset class="form-group">
      <label for="itemPriceRange">Price:</label>
      <input type="text" class="form-control" ng-model="item.itemPriceRange" id="itemPriceRange" required>
    </fieldset>
    <fieldset class="form-group">
      <label for="itemDescription">Description:</label>
      <textarea id="itemDescription" class="text-area" ng-model="item.itemDescription" maxlength="250" required></textarea>
    </fieldset>
    <input type="hidden" class="form-control" ng-model="item.itemFinderID" id="itemFinderID">
    <input type="hidden" class="form-control" ng-model="item.itemFindersName" id="itemFindersName">
    <input type="hidden" class="form-control" ng-model="item.itemFinderImageURL" id="itemFinderImageURL">
    <button class="btn btn-danger pull-right" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
    <!-- <button type="submit" ng-if="item.itemId == null" class="btn btn-primary pull-right" ng-click="addItem()"><i class="glyphicon glyphicon-plus"></i> Add</button>
 -->
    <button type="submit" id="submit" class="btn pull-right"><i id="icon" class="glyphicon"></i> {{buttonText}}</button>
  </form>
</div>
